<html>

<head>
    <link rel="shortcut icon" href="/Uploads/Image/three.jpg"></link>
    <link type="text/css" href="/Styles/style.css" rel="stylesheet"></link>
    <meat http-squiv="content-type" content="text/html; charset=utf-8">
</head>

<body align="center" >
    <div style="position:absolute; left:0; top:0; width:100%; height:100%;">
    
    <img src="/Uploads/Image/two.jpg" style="width:100%; height=100%;"></img></div>
    <div style="position:absolute" align="center">
        <h1>honey</h1>
        <h2>I'm on my way</h2>
        <div id="container" >
        <div class="contont">
            <a target="_top" class="main" href="">home</a>
            <a target="_top" class="main" href="">Blog essay</a>
            <a target="_top" class="main" href="">learning source</a>
            <a target="_top" class="main" href="">message board</a>
            <a target="_blank" class="main" href="https://github.com/caijinhai">Github</a>
        </div>
        <div class="cont">未完待续
        </div>
    </div>
    <footer >
        this is an end
    </footer>
</div>
</body>

</html>
